

*{
    margin: 0%;
    padding: 0%;
}
.body{
    background-color: black;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sarabun', sans-serif;
    
}
.main{
    display: flex;
    flex-wrap: nowrap;
}
@media (orientation:portrait){
    #container1{
        width: 0% !important;
    }
    .container2{
        width: 100% !important;
    }
}
@media (orientation:landscape){
 .bottombar{
    width: 65% !important;
 }
}
#container1{
    position: relative;
    height: 95vh;
    width: 30%;
    border-radius: 2%;
    margin: 1%;
    background-image: url('back.jpeg');
    background-size: cover;
    overflow: hidden;
    opacity: 0.9;
}
.container2{
    height: 100vh;
    width: 70%;
    overflow-y: scroll;
   
}
.heading{
    color: white;
    margin-left: 2.5%;
    margin-top: 2.1%;
}
.playlisthead{
    padding: 15%;
    margin: 2%;
    background-image: url(playback.jpg);
    background-size: cover;
    -webkit-mask-image:-webkit-gradient(linear,left top,left bottom,from(rgb(0, 0, 0,1)),
        to(rgba(0, 0, 0, 0)))
}
.up,.down,.middle{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.dropdown,.bar,.like{
    font-size: 30px;
    padding: 5%;
}
.back,.forward{
    font-size: 30px;
    padding: 15%;
}
.down .play{
    font-size: 50px;
    margin: 10%;
}
h5{
    padding-top: 8%;
    font-size: 20px;
    margin-left: 3%;
    color: #fcf7f7;
}
i{
    color: white;
}
.down{
    position: relative;
    top: 15em;
}
.range{
    position: relative;
    top: 16em;
}
.middle{
    position: relative;
    top: 16.5em;
}

#progress{
    -webkit-appearance: none;
    width: 94%;
    height: 4px;
    margin-left: 2%;
    border-radius: 4px;
    cursor: pointer;
    
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(106, 101, 101);
    border-radius: 50%;
}
#progress2{
    -webkit-appearance: none;
    width: 15%;
    height: 4px;
    margin-left: 2%;
    border-radius: 4px;
    cursor: pointer;
    
}
.songitem,.songitem1,.songitem2{
    color: white;
   width: 95%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center; 
   padding-right: 2%;
   margin-left: 1%;
   border-radius: 5px;
   
}
.a{
    width: 10%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 1%;
     margin-bottom:1% ;
     margin-left: 2%;
     margin-right: 3%;
}
.b,.c{
    width: 85%;
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.b i  {
    margin-left: 20px;
    margin-right: 20px;
} 
.b1{
    width: 85%;
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.icon i{
  margin-left: 20px;
}
.songitem img,.songitem1 img,.songitem2 img{
     width: 40px;
     height: 60px;
}
.songitem1{
    margin-bottom: 12%
}
.songitem:hover,.songitem1:hover{
    background-color: #818080;
}
.bottombar{
    width: 95vw;
    color: white;
    position: absolute;
    bottom: 0%;
    background-color: #514f4f;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 4px;
}
.icon{
    width: 25px !important;
}